.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 2rem 0; /* Solo padding inferior para separarlo del contenido */
    width: 100%;
}

.welcomeSection h3 {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 600;
    color: #1a222e;
}

.welcomeSection p {
    margin: 0;
    color: #5a6472;
}

.actionsSection {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.searchWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.searchWrapper input {
    background-color: #ffffff;
    border: 1px solid #e0e5ec;
    border-radius: 8px;
    padding: 0.7rem 1rem 0.7rem 2.5rem; /* Espacio para el icono */
    min-width: 250px;
    font-size: 0.9rem;
}

.searchIcon {
    position: absolute;
    left: 1rem;
    color: #aeb3b9;
}

.icon {
    font-size: 1.25rem;
    color: #5a6472;
    cursor: pointer;
}

.userProfile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer; /* Añade el cursor de 'mano' */
    transition: transform 0.2s ease-in-out;
}

.userProfile:hover {
  transform: scale(1.1); /* Efecto sutil de crecimiento al pasar el mouse */
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1a222e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}