.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #242424;
  color: white;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.message {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.logoutButton {
  background-color: #d93025;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.8em 1.5em;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s;
}

.logoutButton:hover {
  background-color: #c5221b;
}