.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f4f7fa;
}

/* Nuevo contenedor para el header y el contenido */
.mainPanel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
}